<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Cleaned Testudo</title>
   </head>

   <body>
      <h1 style="font-family: Kenia; color: crimson;">Cleaned Testudo</h1>

      Removed <%- numItems %> items from Testudo.

      <br><br>

      <a href="/">Home</a>

      <br><br><hr>
      
      <pre>Current Date and Time: <span id="date"></span></pre>

      <script>
         const date = new Date();
         document.getElementById("date").innerHTML = date;
      </script>
   </body>
</html>