<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>View Gifts</title>
   </head>

   <body>
      <h1>Confirmation Receipt</h1>

      Successfully left <%- quantity %> <%- item %> for Testudo.

      <br><br>

      Notes: <%- notes %>

      <br><br>

      <a href="/">Home</a>

      <br><br><hr>

      <pre>Current Date and Time: <span id="date"></span></pre>

      <script>
         const date = new Date();
         document.getElementById("date").innerHTML = date;
      </script>
   </body>
</html>